[submodule "mergeplg"]
	path = mergeplg
	url = https://github.com/OpenSenseAction/mergeplg.git
[submodule "poligrain"]
	path = poligrain
	url = https://github.com/OpenSenseAction/poligrain.git
[submodule "pycomlink"]
	path = pycomlink
	url = https://github.com/pycomlink/pycomlink.git
